.allRow {
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 2px;
    margin-left: 6px;
    margin-right: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.blue-letters {
    color: #33E1FF;
}

.button-row {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.checkout-button {
    border-radius: 10px; 
    background-color: #00d9ff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: #000;
    font-size: 20px;
    width: 110px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.checkout-button:disabled {
    background-color: #FFF;
    color: rgb(49, 49, 49);
}

.checkout-button:hover {
    background-color: #FFF;
    color: black;
}

.col-text-centered {
    justify-content: center;
}

.container {       
    padding: 0; 
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.current-gray {
    color: #B0B0B0;
}

.headers {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    color: black;
    background-color: darkgray;
}

.modal-content {
    border-radius: 16px;
    background: #000;
    color: white;
    border: 0;
    margin-top: 30px;
}

.no-hor-padding {
    padding-left: 0;
    padding-right: 0;
}

.pad-hor-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.pad-left10 {
    padding-left: 10px;
}

.pad-left5 {
    padding-left: 5px;
}

.quit-bottom {
    margin-bottom: 0;
}

.return-all {
    background-color: #fd7e14;
}

.return-button {
    border-radius: 8px; 
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    width: 210px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border: 0;
}

.return-button:hover {
    background-color: #FFF;
    color: black;
}

.returning_head .close {
    color: #FFF;
    text-shadow: none;
    font-size: 2rem;
}.returning_head {
    width: 95%;
    text-align: center;
    align-self: center;
    border-color: transparent;
    justify-content: center;
}

.returning-modal {
    background-color: rgba(121,134,136,0.59);
}

.title-row {
    font-size: 1.33em;
}

@media (max-width: 360px) {
    .checkout-button {
        width: 95px;
        font-size: 16px;
    }

    .pad-left10 {
        padding-left: 0;
    }

    .pad-left5 {
        padding-left: 0;
    }
    
    .title-row {
        font-size: 1em;
    }
}