.container {       
    padding: 0; 
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.pd-5 {
    padding-left: 5px;
}

.returning_head {
    border-color: transparent;
}

.headers {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 12px;
    color: black;
    background-color: darkgray;
}

.sin_comp_backg_r {
    background: linear-gradient( 45deg, rgb(169, 214, 228) 1%, rgba(42, 88, 102, 0.849) 100%);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 12px;
}

.reservations {
    color: black;
}

.round-corners {
    border-radius: 5px;
}

.bottom-buffer{
    margin-bottom:10px; 
}