.returning_head {
    border-color: transparent;
}

.headers{
    color: black;
    background-color: darkgray;
}

.evenRow{
    background-color: white;
}

.oddRow{
    background-color: lightgray;
}

.reservations{
    color: black;
}