.profile_container{
    color: white;
    min-height: 100%;
    background: linear-gradient( 45deg, rgba(20, 18, 19, 0.9) 30%, rgba(0, 94, 105, 0.9) 100%);
    padding-top: 55px;
    font-size: 25px;
}

.reservations{
    color: black;
}

.evenRow{
    background-color: white;
}

.oddRow{
    background-color: lightgray;
}

.headers-p{
    color: black;
    background-color: darkgray;
}

