.WareHouseComponent_container{
    display: flex;
    justify-content: center;
}

.warehousecomponent-search{
    padding-bottom: 30px;
}

.warehousecomponent-search-title{
    margin-top: 5px;
    padding-right: 10px;
    text-align: center;
    color: white;
}

.search_filter{
    background: linear-gradient( 45deg, rgba(46, 204, 113, 1) 1%, rgba(28, 131, 172, 0.849) 100%);
    border-radius: 10px;
    padding: 8px 15px;
}

.component_search_filter{
    position:relative;
	font-size: 0.8em;
	background: white;
	display: inline-block;
    border-radius: 10px;
}
.component_search_filter:focus{
    outline: none;
}
