.WareHouseComponent_container {
    display: flex;
    justify-content: center;
}

.warehousecomponent-search {
    padding-bottom: 30px;
}

.warehousecomponent-searchbox {
    text-align: end;
}

.warehousecomponent-sortandsearch-icons {
    color: rgb(0, 217, 255); 
    font-size: 40px;
    padding-right: 10px;
    padding-top: 12px;
}

.search_filter {
    background: white;
    border-radius: 10px;
    padding: 4px 15px;
}

.component_search_filter {
    position:relative;
	font-size: 0.9em;
	background: white;
	display: inline-block;
    border-radius: 5px;
}

.search_filter:focus {
    outline: none;
}

.component_search_filter:focus {
    outline: none;
}
