.SelectionCart_container{
    margin-top: 55px;
}

.cart-container{
    display: inline-grid;
    justify-content: center;
}

.hor-center{
    display: inline-grid;
    justify-content: center;
}

.cart-collection{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.component-img{
    width: 40px;
    height: 40px;
    border-radius: 10%;
}

.sin_comp_backg_sc{
    background: linear-gradient( 45deg, rgba(46, 204, 113, 1) 1%, rgba(28, 131, 172, 0.849) 100%);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px 5px 5px 5px;
    border-radius: 12px;
}

.sin_comp_backg_r{
    background: linear-gradient( 45deg, rgb(169, 214, 228) 1%, rgba(42, 88, 102, 0.849) 100%);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 12px;
}

.input-group-field{
    width: 2.5em;
    border-radius: 6px;
    text-align: center;
    flex-grow: 0.9;
    box-shadow: 0 0 3px #7b4397;    
    background-image: 
    linear-gradient(#7b4397  , #dc2430),
    linear-gradient(#7b4397, #dc2430);
}

.sin_comp_backg_r:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 6px 4px black;
    box-shadow: 0 6px 4px black;
}

.col-pd{
    padding-left: 5px;
    padding-right: 5px;
}

.checkout-button{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-width: 0px;
    border-radius: 5px;
}

.checkout-button:hover{
    cursor: pointer;
}

.ver-center{
    -ms-flex-item-align: center;
    align-self: center;
}

.bottom-buffer{
     margin-bottom:10px; 
}

.subt-button{
    padding: 0;
    line-height: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 0px;
    cursor: pointer;
}

.add-button{
    padding: 0;
    line-height: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 0px;
    cursor: pointer;
}

.rem-button{
    padding: 0;
    line-height: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 0px;
    background-color: #FF0000;
    cursor: pointer;
}

.rem-button:hover{
    background-color: rgb(161, 2, 2);
}

.item-counter{
    margin: 0;
    text-align: center;
}

.empty-title {
    margin-top: 5px;
    font-size: 1.3em;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 550px;
        margin-top: 1.75rem auto;
    }
}