.singlecomponent_container{
    height: 300px;
    width: 100px;

    font-size: 10px; /*Fix to fit dinamically*/
}
.single_component_back{
    background: linear-gradient( 45deg, rgba(46, 204, 113, 1) 1%, rgba(28, 131, 172, 0.849) 100%), url(../../../../images/github_pattern.svg) top left/auto repeat fixed;
    height: max-content;
    width: max-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
}

.single_component_image{
   height: 200px;
   width: 200px;
}