.singleComponentModal_container{
    color: white;
   
}
.component_data{
    align-items: center;
}
.input-group-field{
    border-radius: 8px;
    text-align: center;
    flex-grow: 0.9;
    box-shadow: 0 0 3px #7b4397;    
    background-image: rgb(11, 15, 19);
}
.minus_button{ 
    border-radius: 50%; 
    background-color: transparent;
    border: transparent;
    padding: 0.25em 0.25em 0em 0.25em;
    margin-inline-end: auto;
}
.plus_button{
    border-radius: 50%; 
    background-color: transparent;
    border: transparent;
    padding: 0.25em 0.8em;
    margin-inline-start: auto;
}
.reserve_button{
    margin-top: 50px;
    align-self: center;
}