.add-button {
    width: 200px;
    height: 40px;
}

.singleComponentModal_container{
    color: white;
   
}
.component_data{
    align-items: center;
}
.input-group-field{
    border-radius: 8px;
    text-align: center;
    flex-grow: 0.9;
    box-shadow: 0 0 5px rgb(0, 217, 255);    
    background: rgb(11, 15, 19);
}

.img-col {
    display: inline;
    text-align: center;
}

.minus_button{ 
    width: 32px;
    height: 32px;
    padding-left: 10px;
    justify-content: center;
    border-radius: 50%; 
    background-color: transparent;
    border: transparent;
    padding: 0.25em;
    margin-inline-end: auto;
}
.plus_button{
    width: 32px;
    height: 32px;
    padding-left: 10px;
    justify-content: center;
    border-radius: 50%; 
    background-color: transparent;
    border: transparent;
    padding: 0.25em;
    margin-inline-start: auto;
}
.reserve_button{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-width: 0px;
    border-radius: 5px;
}

.reserve_button:hover{
    cursor: pointer;
}